{%- set external_urls = {
  'github': 'https://github.com/PadmaUnlimited/',
  'github_issues': 'https://github.com/PadmaUnlimited/padma-theme/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'http://docs.padmaunlimited.com',
  'twitter': 'https://twitter.com/PadmaUnlimited',
  'facebook': 'https://www.facebook.com/padmaunlimited/',
  'slack': 'https://padma-unlimited.slack.com',
  'home': 'https://cp-psource.github.io/ps-padma//',
  'get_started': 'https://cp-psource.github.io/ps-padma//get-started/',
  'features': 'https://cp-psource.github.io/ps-padma//forever-free-wordpress-theme-builder/features/',  
  'blog': 'https://cp-psource.github.io/ps-padma//blog/',    
}
-%}